*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",
    sans-serif;
}

:root{
    --bg-color: rgba(0, 0, 0, 0.092);
    --basic-color: white;
    --color1: rgb(0, 237, 250);
    --color2: rgb(255, 0, 0);
    --color3: rgb(92, 0, 252);
    --txt-color: white;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--txt-color);
    display: block;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 35vw;
    background-color: var(--color1);
    position: fixed;
    height: 100vh;
    overflow: auto;
    background-image: url("6.jpg");
  }
  .sidebar a{
    color: var(--color1);
    padding: 18px;
    font-size: 3rem;
    text-decoration: none;
    display: inline-flex;
  }
  .sidebar a.active {
    background-color: var(--color1);
    color: var(--txt-color);
  }
  .sidebar a:hover:not(.active) {
    transform: scale(1.05)translateY(-5px);
    transition: all 0.3s;
    color: var(--txt-color);
    text-shadow: 0 0 25px var(--color1);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--color1);
    color: var(--txt-color);
  }
  div.content {
    margin-left: 30vw;
    padding: 40px 40px;
    height: 100vh;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float:left;}
    div.content {margin-left: 0;}
  }
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


span{
    color: var(--color1);
    text-shadow: 0 0 25px var(--color1);
}

.image{
    align-items: center;
    cursor: pointer;
    border: 2px var(--color1);
}
.image img{
    border-radius: 50%;
    border-image-width: 2rem;
    margin-left: 10vw;
    margin-top: 15rem;
    width: 16vw;
    transition: all 0.3s;
    display: block;
}
.image img:hover{
  box-shadow: 0 0 25px var(--color1),
              0 0 50px var(--color1),
              0 0 100px var(--color1);
}
.about{
  align-items: center;
  justify-content: center;
  margin-left: 12rem;
  margin-top: 5rem;
  display: block;
}
.about h1{
  font-size: 47px;
  align-items: center;

}
.about h3{
  font-size: 25px;
  color: rgba(0, 255, 255, 0.835);
  align-items: center;
  justify-content: center;
}
.about p{
  font-size: 20px;
  font-weight: 600;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons{
  font-weight: 300;
  font-size: 17px;
  margin-top: 2rem;
}
.socials{
 
  size: 16vw;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-inline: 1rem;
}

.lefpage{
  margin: 0;
  margin-left: 34.5vw;
  padding: 1px 16px;
  height: 1000px;
  align-items: center;
}
.container1 h1{
  margin-top: 120px;
  font-size: 50px;
  font-weight: 700;
  align-items: center;
}
.container1 p{
  font-size: 19px;
  margin-top: 2rem;
  text-align: justify;
  align-items: center;
}
.btn{
  display: block;
}
.btn h3{
  font-size: 20px;
  margin-top: 5rem;
  color: var(--txt-color);
  margin-bottom: 20px;
  margin-bottom: 3rem;
}
.btn a{
  font-size: 20px;
  color: var(--txt-color);
  margin-left: 30px;
  margin-left: 30px;
  font-weight: 400;
}
.btn img{
  width: 80px;
  border-radius: 10%;
  box-shadow: 0 0 25px var(--color1);
  margin-bottom: 30px;
  align-items: left;
  vertical-align: middle;
}

.ftr{
  background-color: rgb(4, 216, 248);
  display: block;
  height: 170px;
}
.ftr-contents{
  text-align: center;
  font-size: 25px;
  color: var(--color1);
  font-weight: 400;
  padding-top: 60px;
}
.so{
  font-size: 2.4vw;
}

